In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Launch Chrome
driver = webdriver.Chrome()

# Go to the Baseball Reference 2025 summary page
url = "https://www.baseball-reference.com/leagues/majors/2025.shtml"
driver.get(url)

# Wait for the JavaScript to finish rendering
time.sleep(5)

# Get the rendered HTML
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

# Find the standard batting table
table = soup.find("table", {"id": "teams_standard_batting"})

# Parse into DataFrame
if table:
    df = pd.read_html(str(table))[0]
    print(df.head())
else:
    print("Table not found.")

# Clean up
driver.quit()

C:\Users\Joshua\AppData\Local\Temp\ipykernel_144080\1667280861.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

                     Tm #Bat BatAge   R/G   G    PA    AB    R    H  2B  ...  \
0  Arizona Diamondbacks   39   27.9  5.11  45  1740  1516  230  386  93  ...
1             Athletics   37   26.7  4.38  45  1694  1542  197  395  71  ...
2        Atlanta Braves   40   28.5  3.98  45  1696  1520  179  365  63  ...
3     Baltimore Orioles   39   27.5  3.70  43  1569  1411  159  324  57  ...
4        Boston Red Sox   38   27.6  4.85  46  1793  1604  223  407  82  ...

    SLG   OPS OPS+   TB GDP HBP SH  SF IBB  LOB
0  .446  .782  116  676  33  20  8  19   6  315
1  .423  .738  105  652  42   7  3  10   2  292
2  .380  .693   92  578  24  14  5   8   4  328
3  .383  .682   97  540  34  21  1  12   2  271
4  .420  .746  108  674  21  20  3  10  10  335

[5 rows x 29 columns]

In [2]:
# df

In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up new browser instance
driver = webdriver.Chrome()

# Go to the Baseball Reference page
url = "https://www.baseball-reference.com/leagues/majors/2025.shtml"
driver.get(url)

# Wait for JavaScript content to load
time.sleep(5)

# Get the page source after JS loads
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

# Find the second table â€” "Team Standard Pitching"
pitching_table = soup.find("table", {"id": "teams_standard_pitching"})

# Convert to DataFrame
if pitching_table:
    df_pitching = pd.read_html(str(pitching_table))[0]
    print(df_pitching.head())
else:
    print("Pitching table not found.")

driver.quit()

C:\Users\Joshua\AppData\Local\Temp\ipykernel_144080\229462740.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_pitching = pd.read_html(str(pitching_table))[0]

                     Tm  #P  PAge  RA/G   W   L  W-L%   ERA   G  GS  ...  \
0  Arizona Diamondbacks  23  30.3  5.02  24  21  .533  4.60  45  45  ...
1             Athletics  24  29.0  5.69  22  23  .489  5.28  45  45  ...
2        Atlanta Braves  22  29.7  3.84  23  22  .511  3.66  45  45  ...
3     Baltimore Orioles  23  31.3  5.44  15  28  .349  5.31  43  43  ...
4        Boston Red Sox  22  29.7  4.57  22  24  .478  3.99  46  46  ...

     BF ERA+   FIP   WHIP   H9  HR9  BB9  SO9  SO/W  LOB
0  1736   92  4.31  1.335  8.6  1.3  3.4  8.8  2.60  308
1  1810   81  4.76  1.515  9.5  1.3  4.1  8.1  1.96  357
2  1657  116  4.05  1.229  7.7  1.2  3.4  8.8  2.61  296
3  1642   73  5.03  1.475  9.6  1.6  3.6  7.8  2.14  290
4  1762  106  3.78  1.304  8.7  1.0  3.0  8.4  2.77  325

[5 rows x 36 columns]

In [4]:
# df_pitching

In [5]:
# Keep only the 'Tm' (team name) and 'ERA' columns
batter_rbi = df_pitching[['Tm', 'ERA']].copy()

# Remove rows like "League Average" or "Totals" if they exist
batter_rbi = batter_rbi[~batter_rbi['Tm'].str.contains("Average|Total", na=False)]

# Convert ERA to numeric (in case it's object dtype)
batter_rbi['ERA'] = pd.to_numeric(batter_rbi['ERA'], errors='coerce')

# Drop any rows with missing ERA values
batter_rbi = batter_rbi.dropna(subset=['ERA'])

# Sort from highest to lowest ERA
batter_rbi = batter_rbi.sort_values(by='ERA', ascending=True).reset_index(drop=True)
batter_rbi = batter_rbi.dropna(subset=['Tm'])
batter_rbi['Rank'] = range(1, len(batter_rbi) + 1)
batter_rbi=batter_rbi[['Tm','Rank']].copy()
batter_rbi = batter_rbi.rename(columns={"Tm": "Team"})

# Show the result
batter_rbi

                     Team  Rank
0           New York Mets     1
1      Kansas City Royals     2
2         Minnesota Twins     3
3          Detroit Tigers     4
4           Texas Rangers     5
5        San Diego Padres     6
6          Houston Astros     7
7    San Francisco Giants     8
8        New York Yankees     9
9          Atlanta Braves    10
10        Cincinnati Reds    11
11    St. Louis Cardinals    12
12       Seattle Mariners    13
13  Philadelphia Phillies    14
14         Tampa Bay Rays    15
15    Los Angeles Dodgers    16
16         Boston Red Sox    17
17           Chicago Cubs    18
19     Pittsburgh Pirates    19
20      Milwaukee Brewers    20
21    Cleveland Guardians    21
22      Chicago White Sox    22
23      Toronto Blue Jays    23
24   Arizona Diamondbacks    24
25     Los Angeles Angels    25
26              Athletics    26
27   Washington Nationals    27
28      Baltimore Orioles    28
29          Miami Marlins    29
30       Colorado Rockies    30

In [6]:
# Keep only the 'Tm' (team name) and 'ERA' columns
batter_strikeouts = df_pitching[['Tm', 'SO9']].copy()

# Remove rows like "League Average" or "Totals" if they exist
batter_strikeouts = batter_strikeouts[~batter_strikeouts['Tm'].str.contains("Average|Total", na=False)]

# Convert ERA to numeric (in case it's object dtype)
batter_strikeouts['SO9'] = pd.to_numeric(batter_strikeouts['SO9'], errors='coerce')

# Drop any rows with missing ERA values
batter_strikeouts = batter_strikeouts.dropna(subset=['SO9'])

# Sort from highest to lowest ERA
batter_strikeouts = batter_strikeouts.sort_values(by='SO9', ascending=False).reset_index(drop=True)
batter_strikeouts = batter_strikeouts.dropna(subset=['Tm'])
batter_strikeouts['Rank'] = range(1, len(batter_strikeouts) + 1)
batter_strikeouts=batter_strikeouts[['Tm','Rank']].copy()
batter_strikeouts = batter_strikeouts.rename(columns={"Tm": "Team"})
batter_strikeouts

                     Team  Rank
0   Philadelphia Phillies     1
1          Houston Astros     2
2        New York Yankees     3
3     Los Angeles Dodgers     4
4       Toronto Blue Jays     5
5         Minnesota Twins     6
6           New York Mets     7
7    San Francisco Giants     8
8        San Diego Padres     9
9          Detroit Tigers    10
10   Arizona Diamondbacks    11
11         Atlanta Braves    12
12        Cincinnati Reds    13
13    Cleveland Guardians    14
14   Washington Nationals    15
16         Boston Red Sox    16
17     Kansas City Royals    17
18       Seattle Mariners    18
19          Texas Rangers    19
20              Athletics    20
21      Milwaukee Brewers    21
22           Chicago Cubs    22
23          Miami Marlins    23
24         Tampa Bay Rays    24
25      Baltimore Orioles    25
26     Los Angeles Angels    26
27      Chicago White Sox    27
28     Pittsburgh Pirates    28
29    St. Louis Cardinals    29
30       Colorado Rockies    30

In [7]:
# Keep only the 'Tm' (team name) and 'ERA' columns
batter_hits = df_pitching[['Tm', 'H9']].copy()

# Remove rows like "League Average" or "Totals" if they exist
batter_hits = batter_hits[~batter_hits['Tm'].str.contains("Average|Total", na=False)]

# Convert ERA to numeric (in case it's object dtype)
batter_hits['H9'] = pd.to_numeric(batter_hits['H9'], errors='coerce')

# Drop any rows with missing ERA values
batter_hits = batter_hits.dropna(subset=['H9'])

# Sort from highest to lowest ERA
batter_hits = batter_hits.sort_values(by='H9', ascending=True).reset_index(drop=True)
batter_hits = batter_hits.dropna(subset=['Tm'])
batter_hits['Rank'] = range(1, len(batter_hits) + 1)
batter_hits=batter_hits[['Tm','Rank']].copy()
batter_hits = batter_hits.rename(columns={"Tm": "Team"})
batter_hits

                     Team  Rank
0        New York Yankees     1
1          Houston Astros     2
2        San Diego Padres     3
3         Cincinnati Reds     4
4           Texas Rangers     5
5          Detroit Tigers     6
6           New York Mets     7
7          Atlanta Braves     8
8         Minnesota Twins     9
9    San Francisco Giants    10
10     Kansas City Royals    11
11      Milwaukee Brewers    12
12         Tampa Bay Rays    13
13    Los Angeles Dodgers    14
14     Pittsburgh Pirates    15
15    St. Louis Cardinals    16
16      Toronto Blue Jays    17
18  Philadelphia Phillies    18
19   Arizona Diamondbacks    19
20           Chicago Cubs    20
21       Seattle Mariners    21
22      Chicago White Sox    22
23         Boston Red Sox    23
24    Cleveland Guardians    24
25          Miami Marlins    25
26     Los Angeles Angels    26
27   Washington Nationals    27
28              Athletics    28
29      Baltimore Orioles    29
30       Colorado Rockies    30

In [8]:
# Keep only the 'Tm' (team name) and 'ERA' columns
batter_runs = df_pitching[['Tm', 'ERA']].copy()

# Remove rows like "League Average" or "Totals" if they exist
batter_runs = batter_runs[~batter_runs['Tm'].str.contains("Average|Total", na=False)]

# Convert ERA to numeric (in case it's object dtype)
batter_runs['ERA'] = pd.to_numeric(batter_runs['ERA'], errors='coerce')

# Drop any rows with missing ERA values
batter_runs = batter_runs.dropna(subset=['ERA'])

# Sort from highest to lowest ERA
batter_runs = batter_runs.sort_values(by='ERA', ascending=True).reset_index(drop=True)
batter_runs = batter_runs.dropna(subset=['Tm'])
batter_runs['Rank'] = range(1, len(batter_runs) + 1)
batter_runs=batter_runs[['Tm','Rank']].copy()
batter_runs = batter_runs.rename(columns={"Tm": "Team"})
batter_runs

                     Team  Rank
0           New York Mets     1
1      Kansas City Royals     2
2         Minnesota Twins     3
3          Detroit Tigers     4
4           Texas Rangers     5
5        San Diego Padres     6
6          Houston Astros     7
7    San Francisco Giants     8
8        New York Yankees     9
9          Atlanta Braves    10
10        Cincinnati Reds    11
11    St. Louis Cardinals    12
12       Seattle Mariners    13
13  Philadelphia Phillies    14
14         Tampa Bay Rays    15
15    Los Angeles Dodgers    16
16         Boston Red Sox    17
17           Chicago Cubs    18
19     Pittsburgh Pirates    19
20      Milwaukee Brewers    20
21    Cleveland Guardians    21
22      Chicago White Sox    22
23      Toronto Blue Jays    23
24   Arizona Diamondbacks    24
25     Los Angeles Angels    25
26              Athletics    26
27   Washington Nationals    27
28      Baltimore Orioles    28
29          Miami Marlins    29
30       Colorado Rockies    30

In [9]:
batter_rbi.to_csv('batter_rbi_def_rank.csv')
batter_strikeouts.to_csv('batter_strikeouts_def_rank.csv')
batter_hits.to_csv('batter_hits_def_rank.csv')
batter_runs.to_csv('batter_runs_def_rank.csv')
print('done')

done